/*
Colors
https://coolors.co/51e5ff-440381-ec368d-ffa5a5-ffd6c0

#51e5ff - blue
#440381 - purple
#ec368d - dark pink
#ffa5a5 - pink
#ffd6c0 - clear pink

*/

html, body {
  background-color: #51E5FF;
}

body {
  color: #FFA5A5;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.navbar .navbar-brand {
  font-size: 1.3rem;
}

.btn.btn-primary {
  background-color: #EC368D;
  border-color: #EC368D;
}

.btn.btn-link {
  color: #ffd6c0;
}

.text-gray {
  color: #FFD6C0;
}

.text-sm {
  font-size: 0.7rem;
}

.divider {
  border-top-color: #ffa5a5;
}

.modal-container {
  background: #440381;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active, a:active, a:focus, a:hover {
  color: #ffa5a5;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #ffa5a5;
  border-color: #ffa5a5;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
  color: white;
}

.navbar, .footer {
  background: #440381;
  box-shadow: 0px 0px 10px 5px #dcb6ff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  top: 0;
  left: 0;
  padding: 0.3rem;
}

.footer {
  bottom: 0;
  left: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.tile-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tile-action button {
  margin-bottom: 0.3rem;
}

#todos {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.todo {
  background-color: #440381;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 10px 5px #dcb6ff;
  text-align: left;
}

.fade:hover {
  opacity: 0.9;
}
